@page "/"
@using System.Timers
@using System.Diagnostics
@inject IMongoService mongoService
@inject NavigationManager navManager
@layout MainLayoutWithSides
<PageTitle>RateMyManagement</PageTitle>
<div style="display: flex; flex-direction: column; align-items: center; position: relative">
    <RadzenText TextStyle="TextStyle.H2">Rate My Management</RadzenText>
    <CompanySearch></CompanySearch>
    <RadzenText TextStyle="TextStyle.Body2" Style="margin-top:15px;">Enter a company name to get started</RadzenText>
    <Paginiation MetaData="_pagingMetaData" SelectedPage="@OnPageSelected"></Paginiation>
    @foreach (var company in _currentPageCompanies)
    {
        <RadzenCard Style="cursor: pointer; width: 95%; margin-top: 15px; position: relative; display: flex; justify-content:space-between" @onclick="@(() => navManager.NavigateTo($"/company/{company.Id}"))">
            <h1 style="position: absolute; top: 10px; right: 10px;">@company.Rating.ToString("0.00")</h1>
            <div>
                <h1>@company.Name</h1>
                <h3>@company.Industry</h3>
            </div>
            <img style="border-radius: 50%; height: 5em; width: 5em; margin-right: 5em;" src="@company.GetLogoUrl()"/>
        </RadzenCard>
    }
    <div style="position: absolute; top: 10px; right: 10px;">
        <AdminDiv>
            <RadzenButton Style="Background:red;" Size="ButtonSize.Small" Click="PopulateSite">Populate companies and locations</RadzenButton>
        </AdminDiv>
    </div>
</div>
@code
{
    [CascadingParameter] private MainLayout? _layout { get; set; }
    private List<Company> _currentPageCompanies = new List<Company>();

    private PagingMetaData? _pagingMetaData = new PagingMetaData()
    {
        CurrentPage = 0,
        PageSize = 0, // Doesn't matter
        TotalCount = 0, // Doesn't matter
        TotalPages = 26

    };
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1);
        _layout?.DisableSearch();
        _layout?.DisableLogo();
    }

    private async Task OnPageSelected(string str)
    {
        _currentPageCompanies = await mongoService.QueryCompaniesByStartingLetter(str[0]);
        foreach (var company in _currentPageCompanies)
        {
            company.Rating = await company.GetRating(mongoService);
        }
    }
    private async Task PopulateSite()
    {
        await BogusWrapper.GenerateFakeCompanies(mongoService, 100);
        await BogusWrapper.GenerateFakeLocations(mongoService, 5, 30);
        await BogusWrapper.GenerateFakeLocationReviews(mongoService, 10, 20);
        Console.WriteLine("Created 100 fake companies");
    }
}
