@page "/search/company/{query}"
@inject IMongoService companyService;
@inject NavigationManager navManager;
@layout MainLayoutWithSides
<div class="page-container">
    <RadzenCard Style="margin:10px;">
        <p style="display: flex; justify-content: center">Results: @CompaniesQueried.Count</p>
        @if (CompaniesQueried.Count == 0)
        {
            <h1>No Companies found</h1>
            <p>Think were missing your company?</p>
            <a href="/create/company/">Click her to create company</a>
        }
        @foreach (var company in CompaniesQueried)
        {
            <div class="company m-3" @onclick="@(() => navManager.NavigateTo($"/company/{company.Id}"))">
                <span class="company-rating">@company.Rating</span>
                <div>
                    <h1>@company.Name</h1>
                    <h3>@company.Industry</h3>
                </div>
                <img src="@company.GetLogoUrl()"/>
            </div>
        }
    </RadzenCard>
</div>
@code {
    [Parameter]
    public string query { get; set; }

    public List<Company> CompaniesQueried { get; set; } = new List<Company>();
    protected override async Task OnParametersSetAsync()
    {
        var temp = await companyService.GetAllCompaniesAsync();
        CompaniesQueried = temp.Where(x => x.Name.Contains(query)).ToList();
    }
}
