@page "/company/location/{Id}"
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization.Policy
@using RMM.Core.EntityFramework
@using ClaimTypes = RMM.Data.ClaimTypes
@inject IMongoService mongoService
@inject UserManager<ApplicationUser> userManager
@if (_company != null)
{
    <PageTitle>@(_company.Name + " " + _location.City)</PageTitle>
    <div class="d-flex flex-column align-items-center">
        <div style="display: grid; grid-template-columns: 1fr 1fr 1fr; width: -webkit-fill-available;">
            <div style="margin: 10px;">
                <RadzenCard>Overall Rating: @_location.GetRating().ToString("0.00")</RadzenCard>
                <RatingChart Ratings="@_location.LocatioReviews.Select(x => x.Stars)"></RatingChart>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img style="height: 10em; width: 10em; border-radius: 50%" src="@_company.GetLogoUrl()"/>
                <h1>@_company.Name</h1>
                <h3>@_company.Industry</h3>
                <p>@_company.Description</p>
                @if (!_editing)
                {
                    <p>@_location.City</p>
                    <p>@_location.Address</p>
                }
                else
                {
                    <RadzenTemplateForm Style="display: flex; flex-direction: column" TItem="Location" Data="_location" Submit="OnSaveLocationChanges">
                        <RadzenTextBox Style="font-size: 1rem;" Placeholder="City" @bind-Value="_location.City"></RadzenTextBox>
                        <RadzenTextBox Style="font-size: 1rem; margin-top: 0.5rem;" Placeholder="Address" @bind-Value="_location.Address"></RadzenTextBox>
                        <RadzenButton Style="margin-top: 1rem;" ButtonType="ButtonType.Submit">Save Changes</RadzenButton>
                    </RadzenTemplateForm>
                }
            </div>
            <div>
                <AuthorizeView Policy="@PolicyTypes.LocationManager.ToString()" Resource="_location">
                    <div style="display: flex; justify-content: end">
                        @if (_editing)
                        {
                            <img @onclick="@(() => _editing = !_editing)"
                                 style="height: 2em; width: 2em; border-radius: 50%; background: white; cursor: pointer; margin: 10px" src="\Images\Icons\Cancel.png">
                        }
                        else
                        {
                            <img @onclick="@(() => _editing = !_editing)"
                                 style="height: 2em; width: 2em; border-radius: 50%; background: white; cursor: pointer; margin: 10px" src="\Images\Icons\Edit.png">
                        }
                    </div>
                </AuthorizeView>
                <RatingChart2 Ratings="@_location.LocatioReviews.Select(x => x.Stars)"></RatingChart2>
            </div>
        </div>
        <hr style="width: 100%"/>
        <LocationReviewForm LocationId="@_location.Id" LocationReview="@(new LocationReview())" SubmitCallback="OnSubmitReview"></LocationReviewForm>
        @foreach (var review in _location.LocatioReviews)
        {
            <LocationReviewComponent LocationReview="@review"></LocationReviewComponent>
        }
    </div>
}

@code {
    [Parameter]
    public string Id { get; set; }
    private Location _location { get; set; }
    private Company? _company { get; set; }
    private bool _editing;

    public string GetSource()
    {
        var test = _editing ? @"\Images\Icons\Cancel.png)" : @"\Images\Icons\Edit.png";
        return test;
    }
    protected override async Task OnInitializedAsync()
    {
        var result = await mongoService.TryGetLocationAsync(Id);
        if (result.Item1)
        {
            _location = result.Item2;
        }
        var result2 = await mongoService.TryGetCompanyAsync(_location.CompanyId);
        if (result2.Item1)
        {
            _company = result2.Item2;
        }
    }
    private async Task OnSubmitReview()
    {
        await OnInitializedAsync();
    }
    private async Task OnSaveLocationChanges(Location location)
    {
        await mongoService.UpdateLocationDetailsAsync(location.Id, location.Address, location.City);
        _editing = !_editing;
    }

    private async Task MakeManager(ClaimsPrincipal claimsPrincipal)
    {
        var user = await userManager.GetUserAsync(claimsPrincipal);
        await userManager.AddClaimAsync(user, new Claim(ClaimTypes.EditLocation.ToString(), _location.Id));
    }
}
